*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #0a6480;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

header{
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form input, form button{
    padding: 0.2rem;
    font-size: 2rem;
    border: none;
    background: white;
}
 form button{
     color: #0a6480;
     background: white;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 form button:hover{
     background: #0a6480;
    
    color: white;
     
 }